//**************************************************************
// POST
//**************************************************************

/* ## NEWS CONTENTS
***********************************************/
.news-contents {
    border-bottom: dashed 1px $black;

    /**** #### TEXT AREA ****/
    .text-area {
        padding: 1.5rem 0;
        
        .date {
            display: block;
            font-size: 12px;
            font-weight: 200;
            color: $font-gray;
        }

        h4 {
            font-size: clamp(14px,1.4vw,20px);
            font-weight: 500;
        }

        p {
            font-size: clamp(12px,1.1vw,14px);
            color: $font-gray;
            line-height: 1.5;
            font-weight: 200;
        }
    }
    

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {

        /**** #### TEXT AREA ****/
        .text-area {
            h4 {
                margin-bottom: 1rem;
            }
        }
    }
}

    



/* ## PODCAST BOX
***********************************************/

/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
