//**************************************************************
// #footer
//**************************************************************
footer {
    width: 100%;
    padding-bottom: 3rem;
    max-width: 1680px;
    margin: 0 auto;

    .footer-wrapper {
        border-top: solid 1px $black;
        padding-top: 10rem;
    }

    /* ### FOOTER LOGO
    -------------------------------------*/
    .footer-logo {
        display: block;
        width: 50%;

        img {
            width: 100%;
        }
    }

    /* ### FOOTER NAV
    -------------------------------------*/
    .footer-nav {

        li {
            text-align: center;
            display: block;
            border-right: solid 1px $black;
            padding: 0 1rem;

            &:first-child {
                border-left: solid 1px $black;
            }
        }

        .menu-link {
            p {
                font-weight: bold;
                letter-spacing: 2px;
                line-height: 1.5;
            }
        }
    }

    /* ### SECOND NAV
    -------------------------------------*/
    .second-nav-area {
        padding-top: 8rem;
    }

    .footer-second-nav {
        li {
            text-align: center;
            display: block;
            padding: 0 1rem;
        }

        .menu-link {
            p {
                color: $font-gray;
                font-size: 14px;
            }
        }
    }
   
    .copyright {
        display: block;
        font-size: 12px;
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        padding-top: 5rem;
        background-image: url("#{$image-path}/footer/footer_bg_sp.svg");

        /* ### FOOTER LOGO
        -------------------------------------*/
        .footer-logo {
            margin-bottom: 3rem;

            span {
                margin-bottom: 1rem;
                font-size: 10px;
            }

            img {
                width: 70px;
            }
        }

        /* ### FOOTER NAV
        -------------------------------------*/
        .footer-nav {
            .menu-link {
                p {
                    font-size: 16px;
                }
            }
        }

        /* ### NAVIGATION BOTTOM
        -------------------------------------*/
        .navigation-bottom {
            margin: 0 auto 4rem;

            li {
                padding-left: 8px;
            }

            .menu-link {
                font-size: 12px;
            }

            .border-box {
                border-right: none;
            }
        }

        .copyright {
            font-size: 12px;
            padding-bottom: 2rem;
        }
    }
}


// ## MOBILE // *************************************************>

/* ## コメント中
***********************************************/

/* ### コメント下
-------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
