//**************************************************************
// Structure
//**************************************************************
/* ## HTML
***********************************************/
html {
	height: 100%;
	width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


/* ## BODY
***********************************************/
body {
	background-color: $main-bg-color;
	height: 100%;
}

/* ## MAIN
***********************************************/
main {

}

/* ## SECTION
***********************************************/
section {
	position: relative;
	padding: 12rem 0rem;

	&.bg-gray {
		background-color: $bg-gray;
	}

	&.fixed-page {
		.main-title-template {
			margin: 0 auto 4rem;
		}
	}

	/* ### MOBILE =====================================*/
	@media #{$smallScreen} {
		padding: 5rem 0rem;
	}
}



/* ## FIRST SECTION
***********************************************/
.first-sec {
	padding-top: 92px;

	/* ### MOBILE =====================================*/
	@media #{$smallScreen} {
		padding-top: 72px;
	}
}


/* ## CONTAINER
***********************************************/
/* ### CONTAINER
=====================================*/
.container, .container-fluid {
    @media #{$smallScreen} {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

/* ### SMALL CONTAINER
=====================================*/
.s-container {
	@media #{$smallScreen} {
        max-width: 540px;
    }
	@media (min-width: 768px) {
        max-width: 720px;
    }
	@media (min-width: 992px) {
    	max-width: 960px;
	}
}

/* ### XS CONTAINER
=====================================*/
.xs-container {
    @media (min-width: 768px) {
        max-width: 760px;
    }
    @media (min-width: 992px) {
        max-width: 760px;
    }
}

/* ### XXS CONTAINER
=====================================*/
.xxs-container {
    @media (min-width: 768px) {
        max-width: 540px;
    }
    @media (min-width: 992px) {
        max-width: 540px;
    }
}


//**************************************************************
// General screen control
//**************************************************************
//Print
@media print {
	.hidePrint,
	.beforeOrderBtn,
	.beforeOrderBnr {
		display: none;
	}
	.listInline {
		&.sns {
			display: none;
		}
	}
	a:not([href*="#"]) {
		display: none !important;
	}
}


/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
