//*******************************************************************
// # CONTACT
//*******************************************************************
/* ## FIRST SECTION（ファーストセクション）
********************************************************************/
.contact-form-sec {
    max-width: 840px;
    margin: 0 auto;
}

/* ### CONTACT FORM7
--------------------------------------------*/
.wpcf7-form {
    label {
        font-size: 18px;
        display: flex;
        align-items: center;

        span {
            font-size: 14px;

            a {
                border-bottom: solid 1px $black;
            }
        }
    }

    .required {
        border: solid 1px $black;
        font-size: 10px;
        padding: 2px 4px;
        margin-left: 10px;
    }

    .cond-block[aria-hidden="true"] {
        display: none;
    }

    .attention {
        color: $red;
        font-size: 14px;
        margin-bottom: 1rem;
    }

    .form-group {
        display: block;
        margin-bottom: 5rem;

        p {
            line-height: 1;
        }

        .wpcf7-form-control-wrap {
            width: 100%;
            display: block;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            display: block;
            width: 100%;
            padding: 10px;
            border: none;
            border-bottom: solid 1px $black;
            border-radius: 0;
        }

        select {
            padding: .5rem 1rem;
            border-radius: 0;
        }

        textarea {
            border: solid 1px $black;
            width: 100%;
            padding: 10px;
            min-height: 280px;
            border-radius: 0;
        }

        input::placeholder,
        textarea::placeholder {
            color: $font-gray;
            font-size: 15px;
        }

        input[type="checkbox"] {
            appearance: checkbox;
            width: 20px;
            height: 20px;
            display: inline-block;
            margin-right: 5px;
        }
    }

    .submit-area {
        p {
            text-align: end;
            input {
                color: $black;
            }
        }

        .wpcf7-submit {
            display: inline-block;
            border: solid 1px $black;
            border-radius: 0;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
            width: 260px;
            padding: 0.8rem 0;
            background-color: $white;
            transition: 0.2s;

            &:hover {
                background-color: $black;
                color: $white;
                transition: 0.2s;
            }
        }

        .wpcf7-spinner {
            display: block;
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        label {
            font-size: 15px;

            span {
                font-size: 14px;

                a {
                    border-bottom: solid 1px $black;
                }
            }
        }

        .form-group {
            display: block;
            margin-bottom: 3rem;
        }

        .submit-area {
            p {
                text-align: center;
            }
        }
    }
}

// ## MOBILE // *************************************************>
/* ## コメント中
***********************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
