//*******************************************************************
// # MAINTENANCE
//*******************************************************************
/* ## FIRST SECTION（ファーストセクション）
********************************************************************/

/* ## MAINTENANCE MESSAGE SECTION（メッセージセクション）
********************************************************************/
.maintenance-message-sec {
    max-width: 940px;
    margin: 0 auto;

    /* ### CATCH SIDE
    --------------------------------------*/
    .catch-side {

        h3 {
            font-size: clamp(16px, 2vw, 28px);
            letter-spacing: 5px;
            margin-bottom: 3rem;
        }
        p {
            margin-bottom: 3rem;
            line-height: 2.2;
            letter-spacing: 1px;
        }
    }

    /* ### TEXT SIDE
    --------------------------------------*/
    .text-side {

        h4 {
            letter-spacing: 3px;
            margin-bottom: 2rem;
        }
        p {
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        /* ### CATCH SIDE
        --------------------------------------*/
        .catch-side {
            text-align: center;

            h3 {
                margin-bottom: 4rem;
            }
        }

        /* ### TEXT SIDE
        --------------------------------------*/
        .text-side {

            h4 {
                margin-bottom: 1.5rem;
            }
        }
    }
}


/* ## BEFORE USING SECTION（お使いになる前に）
********************************************************************/
.before-using-sec {

    /* ### TEXT SIDE
    --------------------------------------*/
    .text-side {
        padding-right: 10%;

        .description {
            p {
                margin-bottom: 2rem;
            }
        }
    }

    /* ### IMAGE SIDE
    --------------------------------------*/
    .image-side {
        aspect-ratio: 4/3;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.2);
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {

        /* ### TEXT SIDE
        --------------------------------------*/
        .text-side {
            padding-right: 0;

            .description {
                p {
                    margin-bottom: 2rem;
                }
            }
        }

        /* ### IMAGE SIDE
        --------------------------------------*/
        .image-side {
            margin-bottom: 1.5rem;
        }
    }
}


/* ## DAILY BASICS SECTION（毎日の基本）
********************************************************************/
.daily-basics-sec {

    /* ### DAILY CONTENT
    --------------------------------------*/
    .daily-content {
        padding: 10%;

        /**** #### TITLE ****/
        .title {
            text-align: center;
            margin-bottom: 2rem;

            h3 {
                display: inline-block;
                border-bottom: solid 1px $black;
                letter-spacing: 4px;
                margin-bottom: 1rem;
            }
            span {
                display: block;
                font-size: 14px;
                font-weight: 300;
                letter-spacing: 3px;
            }
        }

        /**** #### IMAGE AREA ****/
        .image-area {
            margin-bottom: 3rem;

            img {
                aspect-ratio: 5/3;
                object-fit: cover;
            }
        }

        /**** #### TEXT ****/
        .text {
            p {
                line-height: 2.4;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {

         /* ### DAILY CONTENT
        --------------------------------------*/
        .daily-content {
            padding: 0;
            margin-bottom: 4rem;

            /**** #### TITLE ****/
            .title {
                margin-bottom: 1.5rem;
                span {
                    font-size: 12px;
                }
            }

            /**** #### IMAGE AREA ****/
            .image-area {
                margin-bottom: 1.5rem;
            }

            /**** #### TEXT ****/
            .text {
                p {
                    line-height: 2;
                }
            }
        }
    }
}


/* ## MORE DELICIOUS SECTION（もっとおいしく）
********************************************************************/
.more-delicious-sec {
    max-width: 1080px;
    margin: 0 auto;

    /* ### DELICIOUS CONTENT
    --------------------------------------*/
    .delicious-content {
        margin-bottom: 4rem;

        /**** #### IMAGE SIDE ****/
        .image-side {

        }

        /**** #### TEXT SIDE ****/
        .text-side {
            padding-left: 3%;
            h3 {
                letter-spacing: 5px;
                font-size: clamp(16px, 1.8vw, 24px);
                margin-bottom: 2rem;
            }
        }
    }

     // ## MOBILE // *************************************************>
    @media #{$smallScreen} {

        /* ### DELICIOUS CONTENT
        --------------------------------------*/
        .delicious-content {
            margin-bottom: 4rem;

            /**** #### IMAGE SIDE ****/
            .image-side {
                margin-bottom: 1.5rem;
            }

            /**** #### TEXT SIDE ****/
            .text-side {
                padding-left: 0;
                h3 {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}


/* ## QA SECTION（Q&A）
********************************************************************/
.qa-sec {
    max-width: 1080px;
    margin: 0 auto;
}

// ## MOBILE // *************************************************>
/* ## コメント中
***********************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
