//*******************************************************************
// # QUALITY（TANZOのこだわり）
//*******************************************************************
/* ## MATERIAL SECTION
********************************************************************/
.material-sec {
    /* ### UPPER PART
    --------------------------------------*/
    .upper-part {
        margin-bottom: 4rem;

        .text-side {
            padding-right: 4%;
        }

        .image-side {
            aspect-ratio: 16/9;
            overflow: hidden;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    /* ### BOTTOM PART
    --------------------------------------*/
    .bottom-part {
        .image-part {
            padding-right: 5%;

            .detail-image {
                aspect-ratio: 5/7;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .text-part {
            .radius-box {
                padding: 3%;
                border-radius: 1%;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        /* ### UPPER PART
        --------------------------------------*/
        .upper-part {
            margin-bottom: 4rem;

            .text-side {
                padding-right: 0;
            }

            .image-side {
                margin-bottom: 2rem;
            }
        }

        /* ### BOTTOM PART
        --------------------------------------*/
        .bottom-part {
            .image-part {
                padding-right: 0;
                margin-bottom: 1rem;
            }
        }
    }
}

/* ## THICKNESS SECTION
********************************************************************/
.thickness-sec {
    /* ### TEXT PART
    --------------------------------------*/
    .text-part {
        text-align: center;
        margin-bottom: 4rem;

        .numbering-title {
            margin-bottom: 4rem;
        }
    }

    /* ### IMAGE PART
    --------------------------------------*/
    .image-part {
        img {
            padding: 2%;
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        /* ### TEXT PART
        --------------------------------------*/
        .text-part {
            text-align: start;

            .numbering-title {
                margin-bottom: 2rem;
            }
        }
    }
}

/* ## HEAT SECTION
********************************************************************/
.heat-sec {
    /* ### IMAGE SIDE
    --------------------------------------*/
    .image-side {
        overflow: hidden;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    /* ### TEXT SIDE
    --------------------------------------*/
    .text-side {
        padding-left: 7%;

        .description {
            margin-bottom: 2rem;
        }
    }

    /* ### DETAIL
    --------------------------------------*/
    .detail {
        margin-top: 8rem;
        background-color: $bg-gray;
        padding: 5%;
        border-radius: 5px;
        text-align: center;

        .border-title {
            span {
                padding-top: 1rem;
                display: block;
            }
            margin-bottom: 2rem;
        }

        .detail-item {
            padding: 3%;
        }

        .detail-title {
            font-size: clamp(16px, 2vw, 20px);
            margin-bottom: 1rem;
            position: relative;

            .good-icon {
                position: absolute;
                top: -41px;
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 100px;
            }
        }

        .detail-catch {
            font-size: clamp(13px, 1.5vw, 15px);
            margin-bottom: 2rem;
            line-height: 1.7;
        }

        .detail-times {
            text-align: start;
            padding: 1rem;

            li {
                display: flex;
                align-items: center;
                span {
                    font-size: clamp(14px, 1.5vw, 16px);
                    line-height: 1.8s;

                    &.time {
                        display: block;
                        padding-right: 1rem;
                        margin-right: 1rem;
                        border-right: dashed 1px $black;
                        white-space: nowrap;
                    }
                    &.text {
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }

    @media #{$largeScreen} {
        .detail {
            padding: 3%;
            
            .border-title {
                margin-bottom: 4rem;
            }

            .detail-item {
                padding: 6%;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        /* ### IMAGE SIDE
        --------------------------------------*/
        .image-side {
            aspect-ratio: 5/3;
            margin-bottom: 1.5rem;
        }

        /* ### TEXT SIDE
        --------------------------------------*/
        .text-side {
            padding-left: 0;
        }
    }
}

/* ## HEAT SOURCE SECTION
********************************************************************/
.heat-source-sec {
    /* ### TEXT PART
    --------------------------------------*/
    .text-part {
        text-align: center;
        margin-bottom: 4rem;

        .numbering-title {
            margin-bottom: 4rem;
        }
    }

    /* ### IMAGE PART
    --------------------------------------*/
    .image-part {
        margin-bottom: 6rem;
        img {
            padding: 2%;
            aspect-ratio: 5/3;
            object-fit: cover;
        }
    }

    .list-part {
        text-align: center;
        max-width: 720px;
        margin: 0 auto;
        h4 {
            margin-bottom: 2rem;
        }
        img {
            margin-bottom: 1rem;
        }
        p {
            font-size: 13px;
            line-height: 1.5;
            text-align: start;
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        /* ### TEXT PART
        --------------------------------------*/
        .text-part {
            text-align: start;
            margin-bottom: 2rem;

            .numbering-title {
                margin-bottom: 2rem;
            }
        }

        /* ### IMAGE PART
        --------------------------------------*/
        .image-part {
            margin-bottom: 6rem;
            img {
                padding: 2%;
                aspect-ratio: 5/3;
                object-fit: cover;
            }
        }

        .list-part {
            text-align: center;
            max-width: 720px;
            margin: 0 auto;
            h4 {
                margin-bottom: 2rem;
            }
            img {
                margin-bottom: 1rem;
            }
            p {
                font-size: 13px;
                line-height: 1.5;
                text-align: start;
            }
        }
    }
}

/* ## KV MESSAGE SECTION
********************************************************************/
.kv-message-sec {
    /* ### KV AREA
    --------------------------------------*/
    .kv-area {
        position: relative;
        text-align: center;
        padding: 8% 0;

        /**** #### PHOTO ****/
        .photo {
            position: absolute;
            z-index: -1;

            &.image-1 {
                top: 20%;
                left: 0;
                width: 18%;
            }
            &.image-2 {
                top: 0%;
                right: 20%;
                width: 18%;
            }
            &.image-3 {
                bottom: -10%;
                left: 15%;
                width: 22%;
            }
            &.image-4 {
                top: 60%;
                right: 2%;
                width: 24%;
            }
        }

        /**** #### CATCH ****/
        .catch {
            width: clamp(50px, 6%, 80px);
            margin: 0 auto;
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        .container-fluid {
            padding: 0;
        }
    }
}

// ## MOBILE // *************************************************>
/* ## コメント中
***********************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
