//**********************************************************************
// # SINGLE
//**********************************************************************

/* ## SINGLE SECTION
***********************************************/
.single-sec {
    max-width: 840px;
    margin: 0 auto;
    padding-top: 15rem;

    @media #{$smallScreen-above} {
       
    }
}


/* ### TITLE AREA
--------------------------------------*/
.title-area {
    margin-bottom: 3rem;

    .day {
        display: block;
        font-size: 13px;
        font-family: $en-font;
        color: $font-gray;
    }

    h1 {
        font-size: clamp(20px, 2.3vw, 28px);
        letter-spacing: 3px;
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {

    }
}

/* ### THUMBNAIL
--------------------------------------*/
.thumbnail {
    overflow: hidden;
    margin-bottom: 4rem;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 5/3;
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} { 
        margin-bottom: 3rem;
    }
}


/* ## Wordpress エディター編集部分
***********************************************/
// コンテンツ部分
.content {
    margin-bottom: 10rem;

    /* ### WP BLOCK IMAGE
    --------------------------------------*/
    .wp-block-image {
        margin-bottom: 3rem;

        img {
            overflow: hidden;
        }
        .wp-element-caption {
            font-size: 12px;
            color: $font-gray;
        }
    }

    /* ### WP BLOCK BUTTON
    --------------------------------------*/
    .wp-block-button {

        .wp-block-button__link {
            font-weight: bold;
            padding: 1rem 2rem;
            margin-bottom: 3rem;
            background-color: $black;

            &:after {
                content: '\f054';
                font-family: 'Font Awesome 6 Free';
                margin-left: 1rem;
            }
        }
    }

    /* ### TEXT
    --------------------------------------*/
    p {
        margin-bottom: 3rem;
        line-height: 2.5;

        a {
            border-bottom: solid 1px $black;
            font-weight: 600;
        }

        strong {
            margin-bottom: 2rem;
            line-height: 2.5;
        }
    }

    h2 {
        border-bottom: solid 1px $black;
        border-left: solid 2px $black;
        margin-top: 10rem;
        margin-bottom: 2rem;
        font-size: 22px;
        padding: 0 10px 5px;
    }

    h3 {
        position: relative;
        margin-top: 8rem;
        margin-bottom: 1rem;
        font-size: 20px;
        padding: 5px 8px;
        border-bottom: solid 1px $black;
    }

    h4 {
        font-size: 18px;
        margin-top: 6rem;
        margin-bottom: 1rem;
    }

    .wp-block-list {
        list-style-position: inside;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem 2rem;
        background-color: $bg-gray;

        li {
            line-height: 2;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                content: "\f0da";
                font-size: 13px;
                margin-right: 5px;
            }
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} { 

        .wp-block-image {
            .wp-element-caption {
                font-size: 10px;
            }
        }
    
        // text
        p {
            line-height: 2;
            font-size: 13px;

            strong {
                line-height: 2;
                font-size: 13px;
            }
        }
    
        h2 {
            border-left: solid 4px $black;
            margin-top: 6rem;
            font-size: 20px;
            padding: 0 5px 2px;
        }
    
        h3 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 18px;
            padding: 3px 0;
        }
    
        .wp-block-list {
            margin-top: 1rem;
            margin-bottom: 1rem;
            padding: 1rem 2rem;
    
            li {
                line-height: 1.7;
                margin-bottom: 5px;
    
                &:before {
                    font-size: 11px;
                    margin-right: 5px;
                }
            }
        }
    }
}




// wordpressでイメージを挿入した場合
figure {
    // キャプション
    figcaption {
    }
}

// 引用
blockquote {
    background-color: $gray-7;
    padding: 1rem;

    // 引用元
    cite {
        font-size: 14px;
        color: $gray-7;
    }
}



// ## MOBILE // *************************************************>

/* ## コメント中
***********************************************/

/* ### コメント下
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
