//*******************************************************************
// # TO TABLE（調理からテーンブルへ）
//*******************************************************************
/* ## TABLE PICTURE SECTION
********************************************************************/
.table-picture-sec {
    .picture-contents {
        text-align: center;
        margin-bottom: 8rem;

        h2 {
            font-weight: 500;
        }
    }

    // ## MOBILE // *************************************************>
    @media #{$smallScreen} {
        
    }
}



// ## MOBILE // *************************************************>
/* ## コメント中
***********************************************/

/* ### SLIDER CONTAINER
--------------------------------------*/

/**** #### コメント下の下 ****/

/* ##### コメント軽 */
